.library-image{
    border: 4px dotted #b3d6f5;
}
.library-image > input {
    padding: 10px 0 10px 20px;
}
.button-library{
    padding: 20px;
}
.img-show{
    position: relative;
    margin-bottom: 20px;
}
.img-show img{
    width: 170px;
    height: 230px;
}
.img-show form > button{
    position: absolute;
    top: -5px;
    right: 0;
    border-radius: 50% !important;
    width: 20px;
    height: 20px;
    padding: 0 !important;
    margin: 0 !important;
}
.img-show form > button:hover{
    border: 2px solid #00a7d0;
}
.img-show form > button span{
    color: red;
    position: absolute;
    top: -2px;
    left: 5px;
}

