.title-header{
    background-color: #65a3ca;
    border: 1px inset lightskyblue;
}
.title-header h3{
    color: white;
    padding: 10px 0 5px;
}
.custom-select{
    background: none !important;
}
.content-wrapper{
    position: relative;
}
