#orders-table>tbody a{
    margin: 2px;
}
.style-room{
    border: 2px solid lightgrey;
    background-color: #fff;
    border-radius: 10px;
}
.style-room:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.img-choosed::before {
    top: 0 !important;
    right: 0 !important;
}

#nameChooseTypeRoom ul li {
    float: left;
    margin: 0 20px;
}
