.img-upload{
    margin-top: 20px;
    text-align: center;
}
#list img{
    margin: 10px;
}
.upload-image{
    border: 4px dotted #b3d6f5;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}
.upload-image p{
    text-align: center;
    margin: 0;
}
.upload-image p>label{
    line-height: 100px;
    width: 100%;
    margin: 0;
}
#files{
    opacity: 0;
    position: absolute;
    z-index: -1;
}
label span{
    color: red;
    font-size: 25px;
}

.reject-img {
    position: relative;
    top: 15.5px;
    float: right;
    right: 3.5px;
    color: red;
    background: white;
    border-radius: 50%;
    font-weight: bold;
    width: 15px;
    text-align: center;
    height: 15px;
    cursor: pointer;
}

.button-reject-img {
    position: relative;
    top: -4px;
}
.img-show {
    transition-duration: 0.3s;
}
.img-show:hover {
    transform: scale(1.1);
    transition-duration: 0.3s;
    cursor: pointer;
}
.img-choosed {
    transform: scale(0.9);
    transition-duration: 0.3s;
    position: relative;
}

.img-choosed::before {
    content: '\2713';
    color: white;
    position: absolute;
    right: 9px;
    background: greenyellow;
    width: 25px;
    text-align: center;
    border-radius: 0 0 0 10px;
    height: 25px;
    font-weight: bold;
    font-size: 18px;
    transition-duration: 0.5s;
}

.alert-dismissible i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.alert-custom-success {
     background-color: rgba(14, 160, 5, 0.73) !important;
     border: 1px solid rgba(32, 148, 22, 0.8);
     margin-top: 1%;
     margin-right: 2.1%;
     font-weight: bold;
     font-size: 16px !important;
 }

.alert-custom-error {
    background-color: rgba(160, 27, 17, 0.73) !important;
    border: 1px solid rgba(148, 41, 29, 0.8);
    margin-top: 1%;
    margin-right: 2.1%;
    font-weight: bold;
    font-size: 16px !important;
}