a.navbar-brand {
    font-size: 35px !important;
    margin-left: 40px !important;
}
@media (min-width: 768px) {
    .p-md-5 {
        padding: 2rem !important;
    }
}
@media (min-width: 576px) {
    .reservation {
        margin-top: -560px !important; }
}
.icon_service img{
    width: 40px;
    margin-right: 15px;
}
.show_service img{
    width: 120px;
}
.nav-link:hover{
    color: red !important;
}
.gioithieu>img{
    width: 100%;
    margin: 20px;
}
.gioithieu-content{
    margin: 50px;
}
#service{
    text-align: center;
}
#service>img{
    width: 200px;
    margin-top: 50px;
}
.header-title{
    margin-bottom: 100px !important;
    border-bottom: 3px solid #0b93d5;
}

.image-detail{
    margin: 10px;
}
.image-detail .detail{
    background-position: center;
    width: 100%;
    height: 230px;
}
.image-detail .detail .icon{
    height: 230px;
}
.item:hover{
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
    background-color: #F4EFF3;
}

#typeRooms .booking>a:first-child{
    margin-right: 30px;
}

